                /*******Estilos generales*******/
@font-face {
  font-family: 'GlacialIndifference';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/GlacialIndifference/GlacialIndifference-Regular.otf);    
  }
@font-face {
  font-family: 'Gagalin' ;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Gagalin/OTF/Gagalin-Regular.otf);
}
html{
  width: 100%;
  body{
    background-image: url(../images/fondo-vegetales4.jpg);
    min-height: 1000px;
    max-height: 2000px;
    position: relative;
  }
  main{
    margin-bottom:10px;
  }
}
.barraNavegacion{
  align-items: center;
  border: black;
  display: flex;
  justify-content: space-around;
  nav{
    background-image: linear-gradient(#fbecb4, #FDFEF1);
    width: 100%;
  }
  h3{
    background-color: #fbecb4;
    border-color: black;
    border-style: double;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-bottom: 45px;
    margin-top: 30px;
    text-align: center;
  }
}
ul{
  align-items: center;
  color: #2b2f17;
  text-align: center;
  li{
    display: inline-block;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size:1.25rem;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    a{
      color: #2b2f17;
      justify-content: space-between;
      text-decoration: none;
    }
    a:hover{
      color: #2b2f17;
      text-decoration: none;
      transition: 0.5s;
    }
  }
  li:hover{
    transform: scale(1.4, 1.4);
    transition: 1s;
  }
}
#logo{
  background-color: #fbecb4;
  border-color: black;
  border-style: double;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 30px;
  div{
    padding: 15px;
    a{
      img{
        border-color: black;
        height: 150px;
        width:150px;
      }
      img:hover{
        border-color: black;
        transform: scale(1.5, 1.5);
        transition: 1s;
      }
    }
  }
}
.milZabores{
  font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT';
  font-size: 2.81rem;
  padding-top: 60px;
}
.veganos{
  font-family: 'Gagalin', 'calibri';
  font-size: 2.81rem;
  padding-top: 60px;
}
footer{
  background-image: linear-gradient(#FDFEF1, #fbecb4);
  font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  bottom: 0;
  height: 50px;
  right: 0;
  left: 0;
  position: relative;
  padding: 10px;
  width: 100%;
  p{
    color: black;
    text-align:center;
  }
}
.carousel-inner {
  margin-bottom: 45px;
  overflow: hidden;
  position: relative;
  transform: translate(150px, 10px);
  width: 70%;
}
.fondoClaro{
  background-color: #fbecb4;
  transform: translate(230px);
  border-left: double black;
  border-right: double black;
  max-width: 75%;
  padding-left: -20px;
}
.fa-instagram-square{
  color: #2b2f17; 
  font-size: xx-large;
  margin-left: 1450px;
}
.fa-whatsapp-square{
  color: #2b2f17;
  font-size: xx-large;
  margin-right: 25px;
}

                /*******Estilos Productos*******/
.imgPrincipalProd{
  display: flex;
  img{
    margin: auto;
    height: 300px;
    width: 1000px;
  }
}
.tituloProductos{
  display: flex;
  font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-size: xx-large;
  margin-top: -45px;
  margin-left: 17%;
  h1{
    color: #FDFEF1;
  }
}
.productos{
  font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-weight: bolder;
  margin-top: 45px;
  margin-left: 150px;
  div{
    p{
      font-size: x-large;
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 4px;
    }
    h2{
      display: inline-block;
      font-size: medium;
    }
  }
}

#prodGrillas{
  display: grid;
  grid-template-areas: 
  "prod1 prod2 prod3 prod4"
  "prod5 prod6 prod7 prod8";
  grid-template-columns: 300px 300px 300px 250px;
  grid-template-rows: 300px 300px 300px 250px;
}
.prod1 {
  grid-area: prod1;
}
.prod2 {
  grid-area: prod2;    
}
.prod3 {
  grid-area: prod3;
}
.prod4 {
  grid-area: prod4;
}
.prod5 {
  grid-area: prod5;
}
.prod6 {
  grid-area: prod6;
}
.prod7 {
  grid-area: prod7;
}
.prod8 {
  grid-area: prod8;
}

                /*******Estilos Milzatips*******/
.imgPrincipalTips{
  display: flex;
  img{
    margin: auto;
    height: 300px;
    width: 1000px;
  }
}
.titulosTips{
  color: #FDFEF1;   
  font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-weight: bolder; 
  width: 60%;
  h1{
    color: #FDFEF1;
    font-size: 2.5rem;
    margin-top: -45px;
    margin-left: 25%;
  }
  h2{
    color:black;
    font-family: "Gagalin";
    font-size: 2.5rem;
    margin: auto;
    margin-top: 40px;
    margin-left: 40px;
  }
  p{
    color:$black;
    font-size: medium;
  }
}
.articulosTips{
  margin-top: 25px;
  margin-left: 30px;
  img{
    margin: auto;
  }
}

                /*******Estilos Conocenos*******/
.imgPrincipalConocenos{
  display: flex;
  img{
    width: 1000px;
    height: 300px;
    margin: auto;
  }
}
.tituloConocenos{
  color: #FDFEF1;
  font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-weight: bolder;
  h1{
    color: #FDFEF1;
    margin-top: -45px;
    margin-left: 15%;
    font-size: 2.5rem;
  } 
}
.articulosConocenos{
  font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-size: 1.56rem;
  margin-top: 25px;
  margin-left: 25px;
}
                /*******Estilos Contactanos*******/
.contactanos{
  font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-size: 1.56rem;
  font-weight: normal;
  margin-top: 80px;
  transform: translate(400px);  
  width: 80%;
  p{
    font-size: 20px;
  }
  form{
    font-size: 20px;
  }
}

/****Media Queries****/

// Extra small devices (portrait phones)

@media (max-width: 575.98px) {

                  /*******Estilos generales*******/
  .milZabores{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT';
    font-size: 1.87rem;
    padding-top: 60px;
    padding-right: 10px;
  }
  .veganos{
    font-family: 'Gagalin', 'calibri';


    padding-top: 60px;
  }
  #logo{
    display: flex;
    background-color: #fbecb4;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 25px;
    margin-top: 30px;
    height: 200px;
    border-style: double;
    border-color: black;
    div{
      padding: 15px;
      a{
        img{
          height: 100px;
          width: 100px;
        }
        
         img:hover{
          transform: scale(1.5, 1.5);
          transition: 1s;
        }
      }
    }
  }
  .barraNavegacion{
    h3{
      font-size: 1.25rem;
    }
  }
  .carousel-inner {
    position: relative;
    margin-bottom: 45px;
    overflow: hidden;
    transform: translate(80px, 10px);
    width: 70%;
  }
  .fondoClaro{
    background-color: #fbecb4;
    border-left: double black;
    border-right: double black;
    max-width: 75%;
    max-height: 100%;
    transform: translate(80px);
    padding-left: -20px;
  }
  .fa-instagram-square{
    color: #2b2f17; 
    font-size: xx-large;
    margin-left: 120px;
  }
  .fa-whatsapp-square{
    color: #2b2f17;
    font-size: xx-large;
  }

                /*******Estilos Productos*******/
  .imgPrincipalProd{
    img{
      width: 400px;
      height: 120px;
    }
  }
  .tituloProductos{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: bolder;
  }
  .productos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 30px;
    div{
      p{
        font-size: large;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 4px;
      }
      h2{
        display: inline-block;
        font-size: small;
      }
      img{
        width: 100px;
        height: 75px;
      }
    }
  }
  #prodGrillas{
    display: grid;
    grid-template-areas: 
    "prod1 prod2"
    "prod3 prod4"
    "prod5 prod6"
    "prod7 prod8";
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px 150px 125px 150px 125px;
  }
  .prod1 {
    grid-area: prod1;
  }
  .prod2 {
    grid-area: prod2;
    padding-left: 20px;
  }
  .prod3 {
    grid-area: prod3;
    padding-top: 30px
  }
  .prod4 {
    grid-area: prod4;
    padding-top: 30px;
    padding-left: 20px;
  }
  .prod5 {
    grid-area: prod5;
    padding-top: 70px;
  }
  .prod6 {
    grid-area: prod6;
    padding-top: 70px;
    padding-left: 20px;
  }
  .prod7 {
    grid-area: prod7;
    padding-top: 100px;
  }
  .prod8 {
    grid-area: prod8;
    padding-top: 100px;
    padding-left: 20px;
  }

                /*******Estilos Milzatips*******/
  .imgPrincipalTips{
    img{
      width: 400px;
      height: 120px;
    }
  }
  .titulosTips{
    color: #FDFEF1;    
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;   
    font-weight: bolder;
    width: 60%;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
      margin-left: 20px;
    }    
    h2{
      color:black;
      font-family: "Gagalin"; 
      font-size: 25px;
      margin-top: 60px;
      margin-left: 120px;
    }
    p{
      color:$black;
      font-size: medium;
    }
  }
  .articulosTips{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
    img{   
      margin-left: 50px;
      width: 200px;
      height: 171px;
    }
  }

                /*******Estilos Conocenos*******/
  .imgPrincipalConocenos{
    img{
      width: 400px;
      height: 120px;
    }
  }
  .tituloConocenos{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    width: 60%;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
      margin-left: 20px;
    } 
  }
  .articulosConocenos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
  }

                  /*******Estilos Contactanos*******/
  .contactanos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: normal;
    margin-top: 80px;
    transform: translate(50px, -50px);  
    width: 80%;
    p{
      font-size: 20px;
    }
    form{
      font-size: 20px;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width:576px) and (max-width: 767.98px) {

                /*******Estilos generales*******/
  .milZabores{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    padding-top: 60px;
    padding-right: 10px;
  }
  .veganos{
    font-family: 'Gagalin', 'calibri';
    font-size: 1.87rem;
    padding-top: 60px;
  }
  #logo{
    display: flex;
    justify-content: center;
    background-color: #fbecb4;
    border-style: double;
    border-color: black;
    height: 200px;
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 25px;
    div{
      padding: 15px;
      a{
        img{
          height: 100px;
          width: 100px;
        }
        
         img:hover{
          transform: scale(1.5, 1.5);
          transition: 1s;
        }
      }
    }
  }
  .barraNavegacion{
    h3{
      font-size: 20px;
    }
  }
  .fondoClaro{
    background-color: #fbecb4;
    max-width: 75%;
    max-height: 100%;
    transform: translate(80px);
    padding-left: -20px;
    border-left: double $black;
    border-right: double $black;
  }
  .carousel-inner {
    position: relative;
    margin-bottom: 45px;
    overflow: hidden;
    transform: translate(75px, 10px);
    width: 70%;
  }
  .fa-instagram-square{
    color: #2b2f17; 
    font-size: xx-large;
    margin-left: 120px;
  }
  .fa-whatsapp-square{
    color: #2b2f17;
    font-size: xx-large;
  }

                /*******Estilos Productos*******/
  .imgPrincipalProd{
    display: flex;
    img{
      width: 400px;
      height: 120px;
      margin: auto;
    }
  }
  .tituloProductos{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: bolder;
    margin: auto;
    margin-top: -50px;
    margin-left: 20px;
  }
  .productos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    margin: auto;
    margin-top: 30px;
    margin-left: 50px;
    div{
      p{
        font-size: large;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 4px;
      }
      h2{
        display: inline-block;
        font-size: small;
      }
      img{
        width: 100px;
        height: 75px;
      }
    }
  }
  #prodGrillas{
    display: grid;
    grid-template-areas: 
    "prod1 prod2"
    "prod3 prod4"
    "prod5 prod6"
    "prod7 prod8";
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px 150px 125px 150px 125px;
  }
  .prod1 {
    grid-area: prod1;
  }
  .prod2 {
    grid-area: prod2;
    padding-left: 20px;
  }
  .prod3 {
    grid-area: prod3;
    padding-top: 30px
  }
  .prod4 {
    grid-area: prod4;
    padding-top: 30px;
    padding-left: 20px;
  }
  .prod5 {
    grid-area: prod5;
    padding-top: 70px;
  }
  .prod6 {
    grid-area: prod6;
    padding-top: 70px;
    padding-left: 20px;
  }
  .prod7 {
    grid-area: prod7;
    padding-top: 100px;
  }
  .prod8 {
    grid-area: prod8;
    padding-top: 100px;
    padding-left: 20px;
  }

                /*******Estilos Milzatips*******/
  .imgPrincipalTips{
    img{
      width: 400px;
      height: 120px;
    }
  }
  .titulosTips{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: bolder;
    margin: auto;
    margin-top: -20px;
    margin-left: -40px;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
    }    
    h2{
      color: black;
      font-family: "Gagalin";
      font-size: 1.56rem;
      margin-top: 60px;
      margin-left: 170px;
    }
    p{
      color:$black;
      font-size: medium;
    }
  }
  .articulosTips{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
    img{
      margin-top: 2px;    
      margin-left: 60px;
      width: 200px;
      height: 171px;
    }
  }

                    /*******Estilos Conocenos*******/
  .imgPrincipalConocenos{
    display: flex;
    img{
      width: 400px;
      height: 120px;
      margin: auto;
    }
  }
  .tituloConocenos{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    width: 60%;
    h1{
      color: #FDFEF1; 
      font-size: xx-large;
      margin-left: 20px;
    }
  }
  .articulosConocenos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
  }

                    /*******Estilos Contactanos*******/
  .contactanos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: normal;
    margin-top: 80px;
    width: 80%;
    transform: translate(50px, -50px);
    p{
      font-size: 1.25rem;
    }
    form{
      font-size: 1.25rem;
    }
  }
} 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

                /*******Estilos generales*******/
  .milZabores{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT';
    font-size: 40px;
    padding-top: 60px;
    padding-right: -10px;
  }
  .veganos{
    font-family: 'Gagalin', 'calibri';
    font-size: 2.5rem;
    padding-top: 60px;
    margin-left: 15px;
  }
  #logo{
    display: flex;
    justify-content: center;
    background-color: #fbecb4;
    height: 200px;
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 25px;
    border-style: double;
    border-color: black;
    div{
      padding: 15px;
      a{
        img{
          height: 100px;
          width: 100px;
        }
        
         img:hover{
          transform: scale(1.5, 1.5);
          transition: 1s;
        }
      }
    }
  }
  .barraNavegacion{
    h3{
      font-size: 20px;
    }
  }
  .fondoClaro{
    background-color: #fbecb4;
    border-left: double $black;
    border-right: double $black;
    max-height: 100%;
    max-width: 75%;
    transform: translate(80px);
    padding-left: -20px;
  }
  .carousel-inner {
    margin-bottom: 45px;
    overflow: hidden;
    position: relative;
    transform: translate(100px, 10px);
    width: 70%;
  }

                /*******Estilos Productos*******/
  .imgPrincipalProd{
    display: flex;
    img{
      width: 500px;
      height: 150px;
    }
  }
  .tituloProductos{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: bolder;
    margin-left: 50px;
  }
  .productos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 10px;
    div{
      p{
        font-size: large;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 4px;
      }
      h2{
        display: inline-block;
        font-size: small;
      }
      img{
        width: 100px;
        height: 75px;
      }
    }
  }
  #prodGrillas{
    display: grid;
    grid-template-areas: 
    "prod1 prod2 prod3"
    "prod4 prod5 prod6"
    "prod7 prod8";
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
  }
  .prod1 {
    grid-area: prod1;
  }
  .prod2 {
    grid-area: prod2;
  }
  .prod3 {
    grid-area: prod3;
  }
  .prod4 {
    grid-area: prod4;
  }
  .prod5 {
    grid-area: prod5;
    padding-top: 50px;
  }
  .prod6 {
    grid-area: prod6;
    padding-top: 50px;
  }
  .prod7 {
    grid-area: prod7;
    padding-top: 50px;
  }
  .prod8 {
    grid-area: prod8;
    padding-top: 50px;
  }

                /*******Estilos Milzatips*******/
  .imgPrincipalTips{
    display: flex;
    img{
      width: 500px;
      height: 150px;
      margin: auto;
    }
  }
  .titulosTips{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: bolder;
    margin: auto;
    margin-left: -40px;
    margin-top: -20px;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
    }    
    h2{
      color: black;
      font-family: "Gagalin", 'Gill Sans', 'Gill Sans MT', sans-serif;
      font-size: 1.56rem;
      margin-top: 60px;
      margin-left: 240px;
    }
    p{
      color:$black;
      font-size: medium;
    }
  }
  .articulosTips{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
    img{
      margin-top: 2px;    
      margin-left: 110px;
      width: 250px;
      height: 214px;
    }
  }

                    /*******Estilos Conocenos*******/
  .imgPrincipalConocenos{
    display: flex;
    img{
      width: 500px;
      height: 150px;
      margin: auto;
    }
  }
  .tituloConocenos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    color: #FDFEF1;
    width: 60%;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
      margin-left: 40px;
    }
  }
  .articulosConocenos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
  }

                      /*******Estilos Contactanos*******/
  .contactanos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: normal;
    margin-top: 80px;
    transform: translate(50px, -50px);  
    width: 80%;
    p{
      font-size: 1.25rem;
    }
    form{
      font-size: 1.25rem;
    }
  }
}
// Large devices (desktops, 992px and up)
@media(min-width: 992px) and (max-width: 1199.98px) {

                /*******Estilos generales*******/

  .fondoClaro{
    background-color: #fbecb4;
    border-left: double $black;
    border-right: double $black;
    margin-left: -90px;
    max-width: 75%;
    max-height: 100%;
  }
  .carousel-inner {
    position: relative;
    margin-bottom: 45px;
    overflow: hidden;
    transform: translate(140px, 10px);
    width: 70%;
  }
  .fa-instagram-square{
    color: #2b2f17; 
    font-size: xx-large;
    margin-left: 530px;
  }
  .fa-whatsapp-square{
    color: #2b2f17;
    font-size: xx-large;
    }

                /*******Estilos Productos*******/
  .imgPrincipalProd{
    display: flex;
    img{
      width: 700px;
      height: 210px;
    }
  }
  .tituloProductos{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    margin-left: 50px;
  }
  .productos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 10px;
    div{
      p{
        font-size: large;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 4px;
      }
      h2{
        display: inline-block;
        font-size: small;
      }
      img{
        width: 130px;
        height: 100px;
      }
    }
  }
  #prodGrillas{
    display: grid;
    grid-template-areas: 
    "prod1 prod2 prod3"
    "prod4 prod5 prod6"
    "prod7 prod8";
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: space-around;
    
  }
  .prod1 {
    grid-area: prod1;
    margin-left: 40px;
  }
  .prod2 {
    grid-area: prod2;
    margin-left: 40px;
  }
  .prod3 {
    grid-area: prod3;
    margin-left: 40px;
  }
  .prod4 {
    grid-area: prod4;
    margin-left: 40px;
  }
  .prod5 {
    grid-area: prod5;
    padding-top: 70px;
    margin-left: 40px;
  }
  .prod6 {
    grid-area: prod6;
    padding-top: 70px;
    margin-left: 40px;
  }
  .prod7 {
    grid-area: prod7;
    padding-top: 70px;
    margin-left: 40px;
  }
  .prod8 {
    grid-area: prod8;
    padding-top: 70px;
    margin-left: 40px;
  }

                /*******Estilos Milzatips*******/
  .imgPrincipalTips{
    display: flex;
    img{
      width: 700px;
      height: 210px;
      margin: auto;
    }
  }
  .titulosTips{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: bolder;
    margin: auto;
    margin-top: -10px;
    margin-left: 25px;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
      margin: auto;
      margin-top: -50px;
      margin-left: 20px;
    }    
    h2{
      color: black;
      font-family: "Gagalin", 'Gill Sans', 'Gill Sans MT', sans-serif;
      font-size: 1.56rem;
      margin-top: 60px;
      margin-left: 230px;
    }
    p{
      color: black;
      font-size: medium;
    }
  }
  .articulosTips{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
    img{
      margin-top: 2px;    
      margin-left: 150px;
      width: 250px;
      height: 214px;
    }
  }

                    /*******Estilos Conocenos*******/
  .imgPrincipalConocenos{
    display: flex;
    img{
      width: 700px;
      height: 210px;
      margin: auto;
    }
  }
  .tituloConocenos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    color: #FDFEF1;
    width: 60%;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
      margin-left: 40px;
    } 
  }
  .articulosConocenos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;
    margin-left: 25px;
  }

                      /*******Estilos Contactanos*******/
  .contactanos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: normal;
    margin-top: 80px;
    transform: translate(50px, -50px);  
    width: 80%;
    p{
      font-size: 20px;
    }
    form{
      font-size: 20px;
    }   
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width:1200px) and (max-width:1366px) {

                /*******Estilos generales*******/
  .fondoClaro{
    background-color: #fbecb4;
    border-left: double black;
    border-right: double black;
    max-width: 75%;
    max-height: 100%;
    margin-left: -50px;
  }
  .fa-instagram-square{
    color: #2b2f17; 
    font-size: xx-large;
    margin-left: 730px;
  }
  .fa-whatsapp-square{
    color: #2b2f17;
    font-size: xx-large;
    }

                /*******Estilos Productos*******/
  .imgPrincipalProd{
    display: flex;
    img{
      width: 700px;
      height: 210px;
    }
  }
  .tituloProductos{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    margin-left: 100px;
  }
  .productos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 10px;
    div{
      p{
        font-size: large;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 4px;
      }
      h2{
        display: inline-block;
        font-size: small;
      }
      img{
        width: 130px;
        height: 100px;
      }
    }
  }
  #prodGrillas{
    display: grid;
    grid-template-areas: 
    "prod1 prod2 prod3"
    "prod4 prod5 prod6"
    "prod7 prod8";
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: space-around;
    
  }
  .prod1 {
    grid-area: prod1;
    margin-left: 40px;
  }
  .prod2 {
    grid-area: prod2;
    margin-left: 40px;
  }
  .prod3 {
    grid-area: prod3;
    margin-left: 40px;
  }
  .prod4 {
    grid-area: prod4;
    margin-left: 40px;
  }
  .prod5 {
    grid-area: prod5;
    padding-top: 70px;
    margin-left: 40px;
  }
  .prod6 {
    grid-area: prod6;
    padding-top: 70px;
    margin-left: 40px;
  }
  .prod7 {
    grid-area: prod7;
    padding-top: 70px;
    margin-left: 40px;
  }
  .prod8 {
    grid-area: prod8;
    padding-top: 70px;
    margin-left: 40px;
  }

                /*******Estilos Milzatips*******/
  .imgPrincipalTips{
    display: flex;
    img{
      width: 700px;
      height: 210px;
      margin: auto;
    }
  }
  .titulosTips{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: bolder;
    margin: auto;
    margin-top: -10px;
    margin-left: 25px;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
      margin: auto;
      margin-top: -45px;
      margin-left: 85px;
    }    
    h2{
      color: black;
      font-family: "Gagalin",  'Gill Sans', 'Gill Sans MT', sans-serif;
      font-size: 1.56rem;
      margin-top: 60px;
      margin-left: 230px;
    }
    p{
      color:black;
      font-size: medium;
    }
  }
  .articulosTips{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
    img{
      margin-top: 2px;    
      margin-left: 150px;
      height: 214px;
      width: 250px;
    }
  }

                    /*******Estilos Conocenos*******/
  .imgPrincipalConocenos{
    display: flex;
    img{
      margin: auto;
      width: 700px;
      height: 210px;
    }
  }
  .tituloConocenos{
    color: #FDFEF1;
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bolder;
    width: 60%;
    h1{
      color: #FDFEF1; 
      font-size: xx-large; 
      margin-left: 100px;
    } 
  }
  .articulosConocenos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin-top: 25px;    
    margin-left: 25px;
  }

                        /*******Estilos Contactanos*******/
  .contactanos{
    font-family: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.56rem;
    font-weight: normal;
    margin-top: 80px;
    transform: translate(50px, -50px);  
    width: 80%;
    p{
      font-size: 20px;
    }
    form{
      font-size: 20px;
    }
  }
}
